.container{
	    /* background-color: rgb(213, 213, 213); */
		border: 1px solid gray;
		width: 60%;
		display: flex;
		flex-direction: row;
		align-items: center;
}

.mainBox1{
	display: flex;
    /* background-color: plum; */
    flex-direction: column;
    flex-wrap: nowrap;
}

.subbox{
	display: flex;
    /* background-color: aliceblue; */
    flex-direction: row;
	/* justify-content: flex-start; */
}

.box1{
	border-radius: 50%;
	padding: 2%;
}

.box2{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.box3{
}

.text1{
	font-size: 20px;
	margin: 0;
}
.text2{
	font-size: 14px;
	color: gray;
	margin: 0;
}

.maintext1{
	font-size: 20px;
	font-weight: 900;
	line-height : 0.2;
	padding: 2%;
	margin: 0;
}

.maintext2{
	font-size: 16px;
	padding: 2%;
	margin: 0;
	color: gray;
}